* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f4f6f8;
    color: #1f2937;
}

.sidebar {
    background: #111827;
    color: white;
}

.logo-icon {
    background: #2563eb;
}

.navbar a {
    color: #9ca3af;
}

.navbar a:hover,
.navbar a.active {
    background: #1e293b;
    color: white;
}

.profile-card {
    background: white;
}

.profile-label {
    color: #2563eb;
}

.profile-info h2 {
    color: #111827;
}

.profile-info p {
    color: #6b7280;
}

.profile-tags span {
    background: #eff6ff;
    color: #2563eb;
}

.profile-photo img {
    border: 5px solid #eff6ff;
}

.section-title span {
    color: #2563eb;
}

.section-title h2 {
    color: #111827;
}

.data-card {
    background: white;
}

.data-card span {
    color: #6b7280;
}

.data-card h3 {
    color: #111827;
}

.education-card {
    background: white;
}

.education-icon {
    background: #eff6ff;
}

.education-card h3 {
    color: #111827;
}

.education-card p {
    color: #6b7280;
}

.education-card small {
    color: #2563eb;
}

.hobby-card {
    background: white;
}

.hobby-card > div {
    background: #eff6ff;
}

.hobby-card h3 {
    color: #111827;
}

.hobby-card p {
    color: #6b7280;
}

.status {
    background: white;
}

.status-dot {
    background: #22c55e;
}

footer {
    color: #9ca3af;
}